/Employee/nbproject/private/
/Employee/build/
/MyCalculator/nbproject/private/
/MyCalculator/build/
/ComputerShop/nbproject/private/
/ComputerShop/build/
/MyCountdown/nbproject/private/
/MyCountdown/build/
/MyCountdownR/nbproject/private/
/MyCountdownR/build/
/MyFirstUI/nbproject/private/
/MyFirstUI/build/
/MyFirstUIB/nbproject/private/
/MyFirstUIB/build/
/MyDisplay/nbproject/private/
/MyDisplay/build/
/DiamondProblem/nbproject/private/
/MyGarage/nbproject/private/
/MyGarage/build/
/MyWriteRead/target/
/ProjectPartBProgram_Group9/nbproject/private/
/MyTest/nbproject/private/
/MyTest/build/
/ProjectPartBProgram_Group9/build/
/RafFile/nbproject/private/
/RafFile/build/
/RaFfile2/nbproject/private/
/RaFfile2/build/
/MyException/nbproject/private/
/MyException/build/
